{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w" role="status">
                    <p>{{ message }}</p>
                </div>
            {% elif message.tags == "info" %}
                <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="status">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Secrétariat opérateur DINUM - Accueil</h1>

{% endblock content %}